html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
    background: linear-gradient(#000c, transparent, #000c), url(/Imagenes/fondomenuusu.png);
    color: rgb(237, 230, 228);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Georgia, Times New Roman, Times, serif;
}
.contenedor-menu-usu {
    text-align: center;
}

.titulo-menu-usu {
    font-size: 35px;
    letter-spacing: 9px;
    margin: 0;
    text-shadow: 2px 2px 6px black;
}

.imagen-menu-usu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5px; 
    column-gap: 205px; 
    justify-items: center;
    margin-top: 20px;
}

.imagen-menu-usu .caja-img-men-usu:nth-last-child(2) {
    grid-column: 1 / 2; 
    justify-self: end; 
    transform: translateX(250px); 
}
.imagen-menu-usu .caja-img-men-usu:last-child {
    grid-column: 3 / 4; 
    justify-self: start; 
    transform: translateX(-250px); 
}
.caja-img-men-usu img {
    width: 250px; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
}
.img-regmas{
    filter: drop-shadow(0 0 15px rgb(26, 105, 26));
}
.img-regmas:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px limegreen);
}
.img-agecit{
    filter: drop-shadow(0 0 15px rgb(19, 47, 87));
}
.img-agecit:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px blue);
}
.img-concit{
    filter: drop-shadow(0 0 15px rgb(213, 216, 13));
}
.img-concit:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px yellow);
}
.img-edidp{
    filter: drop-shadow(0 0 15px rgb(70, 5, 110));
}
.img-edidp:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px purple);
}
.img-edimas{
    filter: drop-shadow(0 0 15px rgb(216, 9, 171));
}
.img-edimas:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px rgb(104, 3, 104));
}
button {
    margin-top: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #e20404;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #6d0101;
}